Components
packages
Resource.designer.cs

bin
obj
debug
XamarinTricountLike/XamarinTricountLike.Droid/obj/
XamarinTricountLike/XamarinTricountLike.Droid/bin/
XamarinTricountLike/XamarinTricountLike.Droid/XamarinTricountLike.Droid.csproj.user
XamarinTricountLike/XamarinTricountLike/bin/Debug/
XamarinTricountLike.v12.suo
XamarinTricountLike/XamarinTricountLike/bin/Debug/

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx

*_ReSharper.*/